@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src:
    local("Lato-Regular"),
    url("./assets/fonts/lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src:
    local("Lato-Light"),
    url("./assets/fonts/lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src:
    local("Lato-Bold"),
    url("./assets/fonts/lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Thin";
  src:
    local("Lato-Thin"),
    url("./assets/fonts/lato/Lato-Thin.ttf") format("truetype");
}

body {
  @apply font-regular;
}
